<div class = "container-lg">
<div class="row">
  <div class="col-sm-9">
    <h1>Places</h1>
  </div>
  <div>
    <% if @current_user != nil %>
      <a href="/places/new/" class="btn btn-success">New Place</a>
    <% end %>
  </div>
</div>

<p></p>

  <div class = "pt-3">
  <% for place in @places %>
    <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
  <% end %>
  </div>
  
</div>