  <div class = "container-lg">

    <h2>New Place</h2>

     <div class = "pt-3">

      <%= form_with :model => @place do |form| %>
        <p>
          <%= form.label "name" %>
          <%= form.text_field "name" %>
        </p>
        <p>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Create Place</button>
          </div>
        </p>
      <% end %>

    </div>

  </div>