  <div class = "container-lg">

    <h2>New Place</h2>

     <div class = "pt-3">

      <%= form_with :model => @place do |form| %>

        <div class="mb-3">
          <%= form.label "name", :class => "form-label" %>
          <%= form.text_field "name", :class => "form-control" %>
        </div>
  
        <p>
          <%= form.submit "Create Post", :class => "btn btn-primary" %>
        </p>
        
      <% end %>

    </div>

  </div>

  <!--

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="place[name]">
        </div>




  
  
  -->