  <div class = "container-lg">

    <h2>New Place</h2>

     <div class = "pt-3">

      <%= form_with :model => @place do |form| %>

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="place[name]">
        </div>

        <p>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Create Place</button>
          </div>
        </p>
      <% end %>

    </div>

  </div>